{% extends "view/base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/highlight_styles/github.min.css">
<script type="text/javascript" src="/static/js/jquery.yestop.js"></script>

<style>

	strong {
		font-weight: 500;
	}

</style>

{% endblock head %}

{% block content %}
<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-12">
				<article class="post post-1">
					<div class="entry-content clearfix a2" style="border: 1px saddlebrown">
						<blockquote>
							<h4><a id="_0"></a>
								关于我
							</h4>
						</blockquote>
						<br />
						<p>哈喽~ 我叫高祥康，一名95后的奶爸，同时也是一个后端程序员，目前在北京工作，工作中主要使用的语言是 <strong>java</strong>，除了 <strong>java</strong> 之外，我也很喜欢 <strong>rust</strong>，虽然很菜 <strong>o(╥﹏╥)o</strong> !！</p>
						<br />
						<p><strong>Blog</strong> 的 <strong>Logo</strong> 没有什么特别的含义，因为我儿子叫子木，就直接用这个了，因为这个 <strong>Blog</strong> 是在等着我儿子出生的时候做出来的，也是希望这个 <strong>Blog</strong> 能陪伴和见证着我儿子的成长吧！</p>
						<br />
						<p>如果您喜欢我，想和我私下交流交流，可以发邮件给我 <strong><a href="mailto:gxk_717@163.com" target="_blank">gxk_717@163.com</a></strong>
							<br />
							<br />
							还有 <strong><a href="https://github.com/1148118271" target="_blank">github 主页</a></strong> 和 <strong><a href="https://gitee.com/gaoxiangkang" target="_blank">gitee 主页</a></strong>
						</p>
						<br/><br/><br/><br/><br/><br/><br/><br/>
						<strong style="color: #868d93"><p align="right">高祥康 <br>写于 2021年12月12日 18时</p></strong>
					</div>
				</article>

            </main>
        </div>
    </div>
</div>
{% endblock content %}