{% extends "view/base.html" %}


{% block head %}
<link rel="stylesheet" href="/static/css/highlight_styles/github.min.css">
<script type="text/javascript" src="/static/js/jquery.yestop.js"></script>

<style>
    .links {
        float: left;
        line-height: 30px;
        height: 60px;
        width: 15%;
        font-size: 17px;
        background: #f4f8fb;
        border-radius: 5px;
        padding-top: 15px;
        text-align: center;
        margin: 10px 5%;
    }
    .ml7 {
        position: relative;
        font-weight: 900;
        font-size: 2.7em;
        /* 文字描边 width color */
        -webkit-text-stroke: 0.05rem black;
        color: transparent;
        text-shadow: -5px 0 rgba(0, 255, 255, 0.4), 5px 0 rgba(255, 0, 255, 0.4);
    }
    .ml7 .text-wrapper {
        position: relative;
        display: inline-block;
        padding-top: 0.2em;
        padding-right: 0.05em;
        padding-bottom: 0.1em;
        overflow: hidden;
    }
    .ml7 .letter {
        transform-origin: 0 100%;
        display: inline-block;
        line-height: 1em;
    }

</style>
{% endblock head %}

{% block content %}
<div class="content-body" style="margin-top: 20px">
    <div class="container">
        <div class="row">
            <main class="col-md-12">
                <article class="post post-1">
                    <div class="entry-content clearfix" style="border: 1px saddlebrown">
                        {% for link in blogLinks %}
                        <div class="links a2">
                            <p>
                                <a href="{{ link.link_url }}" target="_blank">
                                    {{ link.link_name }}
                                </a>
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                </article>

                <br />
                <section class="comment-area" id="comment-area" >
                    <hr>
                    <h3 class="ml7">
                      <span class="text-wrapper">
                        <span class="letters">来都来了，交个朋友吧！</span>
                      </span>
                    </h3>
                    <form id="myForm" class="comment-form" style="margin-top: 30px">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="link_name">站名：</label>
                                <input type="text" id="link_name" style="border-radius: 5px" name="link_name">
                                <button type="button" class="comment-btn" onclick="save()">提交</button>
                            </div>
                            <div class="col-md-6">
                                <label for="link_url">网址：</label>
                                <input type="text" style="border-radius: 5px" id="link_url" name="link_url">
                            </div>
                        </div>
                    </form>
                </section>
            </main>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="/static/js/anime.min.js"></script>
<script type="text/javascript" src="/static/js/jsonUtil.js"></script>
<script type="text/javascript" src="/static/js/layer.js"></script>
<script>


// Wrap every letter in a span
    var textWrapper = document.querySelector('.ml7 .letters');
    textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

    anime.timeline({loop: true})
        .add({
            targets: '.ml7 .letter',
            translateY: ["1.1em", 0],
            translateX: ["0.55em", 0],
            translateZ: 0,
            rotateZ: [180, 0],
            duration: 750,
            easing: "easeOutExpo",
            delay: (el, i) => 50 * i
        }).add({
        targets: '.ml7',
        opacity: 0,
        duration: 1000,
        easing: "easeOutExpo",
        delay: 1000
    });


    function notNull(json) {
        for (let jsonKey in json) {
            let lab = $('label[for='+ jsonKey +']').text();
            if (lab) {
                if (!json[jsonKey]) {
                    layer.msg(lab + "不能为空")
                    return false
                }
            }
        }
        return true
    }

    function save() {
        let json = $('form').toJson()
        if (notNull(json)) {
            $.ajax({
                url: "/blog/friendLinks/save",
                data: json,
                type: "post",
                dataType: "json",
                success: function (result) {
                    if (result.code === 500) {
                        layer.msg(result.msg, {icon: 2});
                    } else {
                        layer.msg(result.msg, {icon: 1});
                    }
                    document.getElementById("myForm").reset();
                },

            })
        }
    }

</script>

{% endblock script %}
