{% extends "view/base.html" %}

{% block title %}
首页
{% endblock title %}

{% block head %}

<style>
    .p1 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }
</style>

{% endblock head %}

{% block content %}
<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-12">
                {% for blog in blogList %}
                <article class="post">
                    <header class="entry-header">
                        <h1 class="entry-title a1">
                            <a href="/blog/details/{{ blog.id }}" >{{ blog.title }}</a>
                        </h1>
                        <div class="entry-meta">
                            <span class="post-category">{{ blog.group_name }}</span>
                            <span class="post-date">{{ blog.publish_time }}</span>
                            <span class="comments-link">{{ blog.comment_count }} 评论</span>
                            <span class="views-count">{{ blog.read_count }} 阅读</span>
                        </div>
                    </header>
                    <div class="entry-content clearfix p1">
                        <p>
                          {{ blog.generalize | safe }}
                        </p>
                    </div>
                    <hr />
                </article>
                {% endfor %}
                <!--                 简单分页效果-->
                <div class="pagination-simple">
                    {% if page_num > 1 %}
                     <a href="/?page_num={{ page_num - 1 }}">上一页</a>
                    {% endif %}
                    <span class="current">第 {{ page_num }} 页 / 共 {{ page_count }} 页</span>
                    {% if page_num < page_count %}
                    <a href="/?page_num={{ page_num + 1 }}">下一页</a>
                    {% endif %}
                </div>
            </main>
        </div>
    </div>
</div>
{% endblock content %}