<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{ head | safe }}

    <link rel="stylesheet" href="/static/css/fileinput/fileinput.min.css">
    <link rel="stylesheet" href="/static/css/fileinput/fileinput-rtl.min.css">
</head>
<body>
<div class="container-fluid p-t-15">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <header class="card-header"><div class="card-title">基本样式</div></header>
                <div class="card-body">

                    <form id="form-id" class="form">
                        <div class="form-group">
                            <label for="account">账号</label>
                            <input type="text" class="form-control" name="account" id="account" placeholder="请输入账号">
                        </div>
                        <div class="form-group">
                            <label for="password">密码</label>
                            <input type="text" class="form-control" name="password" id="password" placeholder="请输入密码">
                        </div>
                        <div class="form-group">
                            <label for="name">名称</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="请输入名称">
                        </div>
                        <div class="form-group">
                            <label for="sex">下拉选择</label>
                            <select class="form-control" id="sex" name="sex">
                                <option value="0">男</option>
                                <option value="1">女</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="age">年龄</label>
                            <input type="text" name="age" class="form-control" id="age" placeholder="请输入年龄">
                        </div>

                        <div class="form-group">
                            <label for="email">邮箱</label>
                            <input type="email" name="email" class="form-control" id="email" placeholder="请输入邮箱">
                        </div>

                        <div class="form-group">
                            <label for="file-id">上传头像</label>
                            <input type="file" class="form-control-file" id="file-id">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/static/js/fileinput/fileinput.min.js"></script>
<script type="text/javascript" src="/static/js/fileinput/locales/zh.js"></script>
<script type="text/javascript" src="/static/js/jsonUtil.js"></script>
<script type="text/javascript">

    $(() => {
        initFileInput();
    })
    function initFileInput() {
        $('#file-id').fileinput({
            language: 'zh', //设置语言
            allowedFileExtensions: [
                'bmp', 'jpg', 'jpeg', 'png', 'tif', 'gif', 'pcx', 'tga', 'exif',
                'fpx', 'svg', 'psd', 'cdr', 'pcd', 'dxf', 'ufo', 'eps', 'ai', 'raw', 'WMF', 'webp', 'avif'
            ],//接收的文件后缀
            uploadAsync: false, //默认异步上传
            showPreview: true, //是否显示预览
            showCaption: false,//是否显示标题
            dropZoneEnabled: false, //是否显示拖拽区域
            msgPlaceholder: '请选择...',
            maxFileCount: 1, //表示允许同时上传的最大文件个数
            validateInitialCount: true,
            msgFilesTooMany: "只能上传一张图片！",
            layoutTemplates: {
                actionUpload: '',// 去除上传预览缩略图中的上传图片；
            },
        })
    }

    function save() {
        let portraitRel = null;
        let fileObj = document.getElementById("file-id").files[0]; // js 获取文件对象
        if (typeof (fileObj) !== "undefined" && fileObj.size > 0) {
            let formFile = new FormData();
            formFile.append("file", fileObj); //加入文件对象
            $.ajax({
                url: "/fileUp",
                data: formFile,
                type: "post",
                // dataType: "json",
                cache: false,//上传文件无需缓存
                processData: false,//用于对data参数进行序列化处理 这里必须false
                contentType: false, //必须
                async: false,
                success: function (result) {
                    portraitRel = result
                },
            })
        }


        let json = $('form').toJson()

        if (portraitRel != null) {
            if (portraitRel.code === 500) {
                return portraitRel;
            }
            json.portrait = portraitRel.data
        }


        if (!json.account) {
            layer.msg("账号不能为空")
            return
        }

        let r = null;

        $.ajax({
            url: "/admin/user/save",
            data: json,
            type: "post",
            dataType: "json",
            async: false,
            success: function (result) {
                r = result;
            },
        })
        return r
    }

</script>
</body>
</html>