.container {
    background: #fdfdfd;
    padding: 1rem;
    margin-top: 20px;
    border-radius: 0.5rem;
    counter-reset: pagination;
    text-align: center;
}
.container:after {
    clear: both;
    content: "";
    display: table;
}
.container ul {
    width: 100%;
}

.large {
    width: 45rem;
}

.pagination {
    background: #fff;
}

.pagination ul, li {
    list-style: none;
    display: inline;
    padding-left: 0px;
}

.pagination li {
    counter-increment: pagination;
}
.pagination li:hover a {
    color: #fdfdfd;
    background-color: #1d1f20;
    border: solid 1px #1d1f20;
}
.pagination li.active a {
    color: #fdfdfd;
    background-color: #1d1f20;
    border: solid 1px #1d1f20;
}



.pagination li a {
    border: solid 1px #d6d6d6;
    border-radius: 0.2rem;
    color: #7d7d7d;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 0.9rem;
}


.large li a {
    display: none;
}
.large li:first-child a {
    display: inline-block;
}