<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css"/>
    <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js" > </script>
</head>
<body>
    <div class="divright">
        <div class="login">
            <h2>用户登录</h2>
            <div class="login_box">

                <input id="account" type="text" required /><label>用户名</label>
            </div>
            <div class="login_box">
                <input id="password" type="password" required="required" /><label>密码</label>
            </div>
            <a href="javascript:void(0)" onclick="login()">
                登录
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </div>
    <div class="div-left">
        <h2 style="font-family: fantasy; color: darkgoldenrod;"> Blog background management &nbsp;&nbsp;&nbsp;&nbsp; -kkk. </h2>
    </div>


    <script>
        function login() {

            let account = $('#account').val()
            if (!account) {
                alert("用户名不能为空!")
                return
            }
            let password = $('#password').val()
            if (!password) {
                alert("密码不能为空!")
                return
            }

            $.ajax({
                url: '/admin/login',
                type: 'POST',
                data: {account, password},
                dataType: 'json',
                success: function (data) {
                    if (data.code === 500) {
                        alert(data.msg)
                        return
                    }
                    window.location.href = "/admin/index"
                }
            })
        }
    </script>

</body>
</html>