<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{ head | safe }}

    <link rel="stylesheet" href="/static/css/fileinput/fileinput.min.css">
    <link rel="stylesheet" href="/static/css/fileinput/fileinput-rtl.min.css">
</head>
<body>

<div class="container-fluid p-t-15">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div style="padding-bottom:0;">
                    <div id="toolbar" class="btn-group">
                        <button type="button" class="btn btn-default" onclick="uploadFile()">
                            <span aria-hidden="true"></span>上传
                        </button>
                        <button id="btn_delete" type="button" class="btn btn-default" onclick="del()">
                            <span aria-hidden="true"></span>删除
                        </button>
                    </div>
                    <table id="table"></table>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript" src="/static/js/fileinput/fileinput.min.js"></script>
<script type="text/javascript" src="/static/js/fileinput/locales/zh.js"></script>
<script type="text/javascript" src="/static/js/jsonUtil.js"></script>

<script type="text/javascript" >
    $('#table').bootstrapTable({
        url: '/admin/file/fileList',
        method: 'get',
        dataType : "json",
        toolbar: '#toolbar',                //工具按钮用哪个容器
        striped: true,                      //是否显示行间隔色
        cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
        pagination: true,                   //是否显示分页（*）
        sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
        pageNumber: 1,                       //初始化加载第一页，默认第一页
        pageSize: 10,                       //每页的记录行数（*）
        pageList: [5, 10],        //可供选择的每页的行数（*）
        showColumns: true,                  //是否显示所有的列
        showRefresh: true,                  //是否显示刷新按钮
        showButtonText: true,
        minimumCountColumns: 2,             //最少允许的列数
        queryParams : function(params) {
            return {
                // 说明：传入后台的参数包括offset开始索引，limit步长，sort排序列，order：desc或者,以及所有列的键值对
                pageSize : params.limit,
                pageNumber : (params.offset / params.limit) + 1,
            };
        },
        columns: [
            {
                field : 'checked',
                checkbox: true,
                align: 'center',
                valign: 'middle',
                formatter:function(value,row,index){

                }
            },
            {
                field: 'id',
                title: '主键'
            },
            {
                field: 'file_url',
                title: '文件路径'
            },
            {
                field: 'file_url',
                title: '图片',
                formatter: function(value, row, index){
                    return `<img src="${value}" width="100px" height="100px">`
                }
            },
            {
                field: 'upload_time',
                title: '上传时间'
            },
        ]
    });


    function uploadFile() {
        let layer_id = layer.open({
            type : 1,
            title : '上传',
            shadeClose : false, // 点击遮罩关闭层
            // area : [ '40%', 'auto' ],
            btnAlign: 'c',
            content: `
             <div class="form-group">
                    <input type="file" class="form-control-file" id="file-id">
             </div>
                `
        });
        initFileInput(layer_id)
    }


    function initFileInput(layer_id) {
        $('#file-id').fileinput({
            language: 'zh', //设置语言
            allowedFileExtensions: [
                'bmp', 'jpg', 'jpeg', 'png', 'tif', 'gif', 'pcx', 'tga', 'exif',
                'fpx', 'svg', 'psd', 'cdr', 'pcd', 'dxf', 'ufo', 'eps', 'ai', 'raw', 'WMF', 'webp', 'avif'
            ],//接收的文件后缀
            uploadUrl: '/fileUp',
            uploadAsync: false, //默认异步上传
            showPreview: true, //是否显示预览
            showCaption: false,//是否显示标题
            dropZoneEnabled: false, //是否显示拖拽区域
            msgPlaceholder: '请选择...',
            maxFileCount: 1, //表示允许同时上传的最大文件个数
            validateInitialCount: true,
            msgFilesTooMany: "只能上传一张图片！",
            layoutTemplates: {
                actionUpload: '',// 去除上传预览缩略图中的上传图片；
            },
        }).on("filebatchuploadsuccess",function(event, data, previewId, index) {
            console.log("data", data.response);
            if (data.response.code !== 200) {
                layer.msg(data.response.msg, {icon: 2});
            }
            let path = data.response.data
            save(path)

            layer.close(layer_id)
        })
    }

    function save(path) {
        $.ajax({
            url: "/admin/file/save",
            data: {file_url: path},
            type: "post",
            dataType: "json",
            async: false,
            success: function (result) {
                if (result.code === 500) {
                    layer.msg(result.msg, {icon: 2});
                } else {
                    layer.msg(result.msg, {icon: 1});
                }

                $('#table').bootstrapTable('refresh');
            },
        })
    }

    function del() {
        let row = $("#table").bootstrapTable('getSelections');
        if (row.length !== 1) {
            layer.msg("请选择一行数据!", {icon: 0});
            return
        }
        $.ajax({
            url: "/admin/file/del/" + row[0].id,
            type: "get",
            dataType: "json",
            async: false,
            success: function (result) {
                if (result.code === 500) {
                    layer.msg(result.msg, {icon: 2});
                } else {
                    layer.msg(result.msg, {icon: 1});
                }

                $('#table').bootstrapTable('refresh');
            }
        })
    }


</script>

</body>
</html>