<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{ head | safe }}
</head>
<body>
<div class="container-fluid p-t-15">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <header class="card-header"><div class="card-title">基本样式</div></header>
                <div class="card-body">

                    <form id="form-id" class="form">
                        <div class="form-group">
                            <label for="title">标题</label>
                            <input type="text" class="form-control" name="title" id="title"  placeholder="请输入标题">
                        </div>
                        <div class="form-group">
                            <label for="generalize">简介</label>
                            <textarea class="form-control" name="generalize" id="generalize" rows="3" placeholder="请输入简介"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="group_id">博客分类</label>
                            <select class="form-control" id="group_id" name="group_id">
                                {% for g in group %}
                                <option value="{{ g.id }}">{{ g.group_value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/jsonUtil.js"></script>
<script type="text/javascript">

    function notNull(json) {
        for (let jsonKey in json) {
            let lab = $('label[for='+ jsonKey +']').text();
            if (lab) {
                if (!json[jsonKey]) {
                    layer.msg(lab + "不能为空")
                    return false
                }
            }
        }
        return true
    }

        function save() {
            let json = $('form').toJson()
            if (notNull(json)) {
                console.info(json)
                let r = null;
                $.ajax({
                    url: "/admin/blog/save",
                    data: json,
                    type: "post",
                    dataType: "json",
                    async: false,
                    success: function (result) {
                        r = result;
                    },
                })
                return r
            }
            return null
        }

</script>
</body>
</html>