{% extends "blog/base.html" %}

{% block title %}
首页
{% endblock title %}


{% block content %}
<div class="col-xl-8">
{% for bi in blog_infos %}
  <article class="lyear-arc">
    <div class="arc-header">
      <h2 class="arc-title"><a href="details?v={{bi.id}}">{{ bi.title }}</a></h2>
      <ul class="arc-meta">
        <li><i class="mdi mdi-calendar"></i> {{ bi.publish_time }}</li>
        <li><i class="mdi mdi-tag-text-outline"></i>
          {% for tag in bi.tags %}
            {% if loop.first %}
             {{ tag.label_value }}
            {% else %}
            , {{ tag.label_value }}
            {% endif %}
          {% endfor %}
        </li>
        <li><i class="mdi mdi-comment-multiple-outline"></i> {{ bi.comment_count }} 评论</li>
        <li><i class="mdi mdi-eye-outline"></i>{{ bi.read_count }} 阅读</li>
      </ul>
    </div>

    <div class="arc-synopsis p1">
      <p>{{ bi.blog_details | safe }}</p>
    </div>
  </article>

{% endfor %}


  <!-- 分页 -->
  <div class="row">
    <div class="col-lg-12">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="index?p={{page_no - 1}}"><i class="mdi mdi-chevron-left"></i></a></li>
        {% for pn in page_num %}
        <li class="page-item {% if page_no == pn %}active{% endif %}">
          <a class="page-link" href="index?p={{pn}}">
            {{ pn }}
          </a>
        </li>
        {% endfor %}
        <li class="page-item"><a class="page-link" href="index?p={{page_no + 1}}"><i class="mdi mdi-chevron-right"></i></a></li>
      </ul>
    </div>
  </div>
  <!-- 分页 end -->
</div>

{% endblock content %}
