<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="baidu-site-verification" content="code-ZPTJy4ymGi" />
    <meta name="google-site-verification" content="7Omyz-CmGUhslCTvbSZ5au1KgCRR0B87Z9Xnd2TphHo" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/style.about.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <title>关于我</title>
</head>

<body>
<div class= "header">

    <div class="inner-header flex">
        <div class="card">
            <div class="card-body">
                <p>我叫高祥康，现居北京，是一名java软件工程师。 </p>
                <p>如果您想联系我的话，请发邮件到 <a href="mailto:gxk_717@163.com">gxk_717@163.com</a> 或者 <a href="mailto:1148118271@qq.com">1148118271@qq.com</a> 邮箱。</p>
            </div>
        </div>

    </div>

    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave"
                      d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>


</div>

</body>

</html>