{% extends "base.html" %}

{% block title %}
关于我
{% endblock title %}

{% block content %}
<article class="lyear-arc">
   <div>
       <h4 id="-">关于我</h4>
       <p><br /></p>
       <ul>
           <li><p>哈喽！ 我叫高祥康，来自山东菏泽，现居北京，已婚有娃。</p>
           </li>
           <li><p>目前在北京从事后端开发的工作，擅长服务端的开发，使用最多的语言是 <strong>java</strong> 和 <strong>rust</strong></p>
           </li>
           <li><p>如果您想联系我的话，请发邮件到<strong> <a href="mailto:gxk_717@163.com" title="gxk_717@163.com">gxk_717@163.com</a></strong> 也可以看看我的 <strong><a href="https://github.com/1148118271" title="github">github</a></strong></p>
           </li>
       </ul>
   </div>
</article>
{% endblock content %}