<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>欢迎 | Welcome</title>
  <link rel="stylesheet" href="static/css/style.home.css">
</head>

<body>
  <div id="main">
    <h1>Homepage of Gao Xiangkang</h1>
    <div class="content">
      <p>
        <a href="https://gitee.com/gaoxiangkang" target="_blank">Gitee</a>
        |
        <a href="https://github.com/1148118271" target="_blank">Github</a>
        |
        <a href="/index">Blog</a>
      </p>
    </div>
    <div class="buttons">
      <button class="next" onclick="go(-1)"></button>
      <button class="prev" onclick="go(1)"></button>
    </div>
  </div>
  <script src='static/js/gsap.min.js'></script>
  <script src="static/js/script.home.js"></script>

</body>

</html>