{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
<!-- 文章阅读 -->
  <article class="lyear-arc">
    <div class="arc-header">
      <h2 class="arc-title">{{ title }}</h2>
      <ul class="arc-meta">
        <li><i class="mdi mdi-calendar"></i> {{ publish_time }}</li>
        <li><i class="mdi mdi-tag-text-outline"></i>
          {% for tag in tags %}
          {% if loop.first %}
          {{ tag }}
          {% else %}
          , {{ tag }}
          {% endif %}
          {% endfor %}
        </li>
        <li><i class="mdi mdi-comment-multiple-outline"></i>{{ comments_len }} 评论</li>
        <li><i class="mdi mdi-eye-outline"></i>{{ read_count }} 阅读</li>
      </ul>
    </div>
    <div class="lyear-arc-detail">

      {{ post | safe }}

      <div class="mt-5 lyear-comment-title">
        <h5><span>评论 ({{ comments_len }})</span></h5>
      </div>

      <ul class="media-list list-unstyled lyear-comment">
      {%for c in comments %}
        <li id="comment-1">
          <div class="media">
            <img class="d-flex mr-3 rounded-circle" src="/static/images/blog/comments.jpg" alt="">
            <div class="media-body">
              <h4 class="media-heading">{{ c.name }}</h4>
              <p class="text-muted post-date">{{ c.create_time }}</p>
              <p>{{ c.comment }}</p>
            </div>
          </div>
        </li>
        {%endfor%}
      </ul>

      <div id="respond" class="comment-respond">
        <div class="mt-2">
          <h5><span>说点什么吧...</span></h5>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <input id="name" class="form-control" placeholder="昵称*" name="name" type="text" />
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <input id="email" class="form-control" placeholder="邮箱" name="email" type="text" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <input id="url" class="form-control" placeholder="网址" name="url" type="text" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <textarea id="comment" class="form-control" rows="5" placeholder="想说的内容" name="comment"></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <button id="commit" class="btn btn-primary">发表评论</button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </article>
<!-- 内容 end -->

{% endblock content %}

{% block script %}

<script type="text/javascript">
  $('#commit').click(function() {

    let d = {
      blog_id: {{blog_id}}
    }

    d.name = $('#name').val()
    d.email = $('#email').val()
    d.url = $('#url').val()
    d.comment = $('#comment').val()

    $.ajax({
      url: "/comment",
      data: d,
      type: "post",
      dataType: "json",
      async: false,
      success: function (result) {
        if (result.code === 500) {
          alert(result.msg)
          return
        }
        let m = document.createElement("a");
        m.href = "/post?v={{blog_id}}";
        $("body").html(m);
        m.click();
      },
    })

  });
</script>
{% endblock script %}