{% extends "base.html" %}

{% block title %}
首页
{% endblock title %}

{% block content %}
  <article class="lyear-arc">

    <ul class="timeline">
      {% if blog_infos %}
      {% for b in blog_infos %}
      <li>
        <div class="line"></div>
        <section class="main">
          <time class="time">{{b.publish_time}}</time>
          <p class="title"><a href="details?v={{b.id}}">{{b.title}}</a></p>
        </section>
      </li>
      {% endfor %}
      {% else %}
      <li>
        <div class="line"></div>
        <section class="main">
          <time class="time">- -</time>
          <p class="title">暂无博客信息</p>
        </section>
      </li>
      {% endif %}
    </ul>
  </article>
{% endblock content %}